<h1>Pet Description</h1>

<form action="/pets" method="post">

  <label for="petName">Pet Name:</label>
  <input id="petName" name="petName" type="text">

  <button type="submit">Submit</button>
</form>
